.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
  background: #673ab7;
  color: #ffffff;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
}

.hidden{
  display:none;
}
#pageName{
  font-size: large;
}

.spacer{
  flex: 1 1 auto;
}
.button-tittle{
  padding-left: 5px;
}
